1. Kredi limiti (creditlimit) 100.000'den büyük olan tüm müşterilerin (-customers tablosundan) müşteri numarası, adı ve kredi limit bilgilerini creditlimit alanına göre sıralı bir şekilde gösteriniz.

2. customers tablosundan customernumber bilgisi 151 olan kaydın her sütununu gösteriniz.

3. Posta kodu (postalcode) 10022 olan müşterilerin kredi limit bilgilerini azalan sırada gösteriniz.

1. Kredi limiti (creditlimit) 100.000'den büyük olan tüm müşterilerin (-customers tablosundan) müşteri numarası, adı ve kredi limit bilgilerini creditlimit alanına göre sıralı bir şekilde gösteriniz.

In [1]:
import pandas as pd
import numpy as np

In [3]:
yuzbinden_buyuk_kredi_limitli_musteriler = pd.read_csv('data/yuzbinden_buyuk_kredi_limitli_musteriler.csv')
yuzbinden_buyuk_kredi_limitli_musteriler

    customerNumber                  customerName  creditLimit
0              141        Euro+ Shopping Channel     227600.0
1              124  Mini Gifts Distributors Ltd.     210500.0
2              298               Vida Sport, Ltd     141300.0
3              151            Muscle Machine Inc     138500.0
4              187                AV Stores, Co.     136800.0
5              146        Saveley & Henriot, Co.     123900.0
6              286          Marta's Replicas Co.     123700.0
7              386           L'ordine Souveniers     121400.0
8              227          Heintze Collectables     120800.0
9              259       Toms Spezialitäten, Ltd     120400.0
10             278                 Rovelli Gifts     119600.0
11             119             La Rochelle Gifts     118200.0
12             114    Australian Collectors, Co.     117300.0
13             448       Scandinavian Gift Ideas     116400.0
14             131             Land of Toys Inc.     114900.0
15             363  Online Diecast Creations Co.     114200.0
16             249            Amica Models & Co.     113000.0
17             496             Kelly's Gift Shop     110000.0
18             276       Anna's Decorations, Ltd     107800.0
19             239  Collectable Mini Designs Co.     105000.0
20             321      Corporate Gift Ideas Co.     105000.0
21             458    Corrida Auto Replicas, Ltd     104600.0
22             148       Dragon Souveniers, Ltd.     103800.0
23             319                 Mini Classics     102700.0
24             157         Diecast Classics Inc.     100600.0

2. customers tablosundan customernumber bilgisi 151 olan kaydın her sütununu gösteriniz.

In [6]:
yuzellibir_nolu_musteri_kaydi = pd.read_csv('data/yuzellibir_nolu_musteri_kaydi.csv')
yuzellibir_nolu_musteri_kaydi

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,151,Muscle Machine Inc,Young,Jeff,2125557413,4092 Furth Circle,Suite 400,NYC,NY,10022,USA,1286,138500.0

3. Posta kodu (postalcode) 10022 olan müşterilerin kredi limit bilgilerini azalan sırada gösteriniz.

In [8]:
credit_limit_by_postal_code = pd.read_csv('data/credit_limit_by_postal_code.csv')
credit_limit_by_postal_code

   creditLimit          customerName  postalCode
0     138500.0    Muscle Machine Inc       10022
1     114900.0     Land of Toys Inc.       10022
2      76400.0       Vitachrome Inc.       10022
3      67500.0  Classic Legends Inc.       10022
4      39800.0       Microscale Inc.       10022